<h1>Tous les magasins (<%= @shops.count%>)</h1>
<div class="grid">
  <% @shops.each do |shop| %>
    <%= link_to shop_path(shop) do %>
      <div class="grid-item shop_card">
        <div class="shop-card-color-square"></div>
        <h4><%= shop.name.capitalize %></h4>
       </div>
    <% end %>
  <% end %>
</div>
